 header {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.board{
  width: 200px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 20px 20px;
}

.board:hover{
  position: relative;
  bottom:5px;
  box-shadow: 0 4px 8px 0;
}

h4{
  text-align: center;
  margin:10px 10px;
}
.board p{
  text-align: center;
  margin:auto;
}