 header {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.row{
  display: flex;
  justify-content:center;
  
}

.board{
  
  vertical-align:top;
  width: 17%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;

}

.board:hover{
  position: relative;
  bottom:5px;
  box-shadow: 0 4px 8px 0;
}
img{
  width:100%; 
}
h4{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin:10px 10px;
  line-height: 1.3em;
}
.board p{
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin:auto;
}
.board.space{
  padding:10px 10px;
}
.board img{
  border-radius: 20px;
}